/* your code */
table {
            border-collapse: collapse;
            width: 80%;
            margin: 20px auto;
        }

        th, td {
           
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #3498db;
            color: #fff;
        }

        tbody tr:nth-child(even) {
            background-color: #f2f2f2;
        }